files_for_docking/*
box_size/*
autodock/*
*no_torsion*
files_for_charge_comparison/*
files_from_rcsb/files_for_charge_comparison/*
images/*
*.pdbqt
*.tpr
*.gro
*.log
*.edr
*.tpr
*.tpr.*
*.trr
*.xvg
*.xvg*
*.cpt
*.xtc
*.xtc.*
mdout*
*.top
*.top.*
*.itp
GROMACS/*/*.ff
GROMACS/gro_correction_and_charges*/*
GROMACS*/*/snapshots/*
GROMACS*/*/*results*
GROMACS_LIGAND/*/grid.conf
GROMACS/water_model_effect/*/gromos53a6_hsd.ff
GROMACS/water_model_effect/gro_*
GROMACS/water_model_effect/tmp_RMSDS.txt
shared_receptors/*/*grid.conf
shared_receptors/*/results.txt

